<!DOCTYPE html>
<html>
	<head>
    	<title>{{title}}</title>
    	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    	<link rel='stylesheet' href='/stylesheets/style.css' />
  	</head>
  	
  	<body>
  		{{>header}}
  		  <script type="text/javascript" src="/javascripts/jquery-1.12.4.min.js"></script>
        <div class="container">
    	   {{{body}}}
        </div>

      <script src="https://use.fontawesome.com/efabe75a33.js"></script>
    	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  	</body>
</html>
